{% extends 'base.html' %}

{% block title %}
    {{ category.title }} :: {{ block.suser }}
{% endblock %}



{% block  sidebar %}
    <div class="col-md-3">
        <div class="list-group">
            <a href="/news" class="list-group-item list-group-item-action"
               aria-current="true">
                Все
            </a>
            {% for item in categories %}
                <a href="{% url 'category'  item.pk %}" class="list-group-item list-group-item-action"
                   aria-current="true">
                    {{ item.title }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block  content %}
    <div class="col-md-9">
        {% for item in news %}
            <div class="card mb-3">
                <div class="card-header">
                    {{ forloop.counter }}
                    Категория : {{ item.category }}
                </div>
                <div class="card-body">
                    <div class="media">
                        {% if item.photo %}
                            <img src="{{ item.photo.url }}" alt="" width="300" class="mr-3">
                        {% else %}
                            <img src="https://серебро.рф/img/placeholder.png"
                                 alt="" style="width: 150px; height: 150px">
                        {% endif %}
                        <div class="media-body">
                            <h5 class="card-title {% cycle 'text-danger' ' text-success' %}">{{ item.title }}</h5>
                            {% autoescape off %}
                                <p class="card-text">{{ item.content }}</p>
                            {% endautoescape %}
                            <a href="#" class="btn btn-primary">read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ item.created_at|date:"Y-m-d H:i" }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

