{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.suser }}
{% endblock %}

{% block  sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block  content %}
    {{ mixin_prop }}

    {% for item in news %}
        <div class="card mb-3">
            <div class="card-header">
                {{ forloop.counter }}
                Категория : {{ item.category }}
            </div>
            <div class="card-body">

                {% if item.photo %}
                    <img src="{{ item.photo.url }}" alt="" width="300" class="mr-3 float-left">
                {% else %}
                    <img src="https://серебро.рф/img/placeholder.png"
                         alt="" style="width: 150px; height: 150px" class="mr-3 float-left">
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title {% cycle 'text-danger' ' text-success' %}">{{ item.title }}</h5>
                    {% autoescape off %}
                        <p class="card-text">{{ item.content }}</p>
                    {% endautoescape %}
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">read more</a>


                </div>
            </div>
            <div class="card-footer text-muted">
                {{ item.created_at|date:"Y-m-d H:i" }}
            </div>
        </div>
    {% endfor %}

{% endblock %}

