<div class="list-group">
    <a href="/news" class="list-group-item list-group-item-action"
       aria-current="true">
        Все
    </a>
    {% for item in categories %}
        <a href="{{ item.get_absolute_url }}"
           class="list-group-item list-group-item-action"
           aria-current="true">
            {{ item.title }} :
            <span style="background: #0a53be"
                  class=" badge badge-primary badge-pill">{{ item.cnt }}</span>
        </a>

    {% endfor %}
</div>