{% extends 'base.html' %}

{% block title %}
    {{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block  sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block  content %}


    <div class="card mb-3">
        <div class="card-header">
            Категория : <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
        </div>
        <div class="card-body">
            {% if news_item.photo %}
                <img src="{{ news_item.photo.url }}" alt="" width="300" class="mr-3 float-left">
            {% else %}
                <img src="https://серебро.рф/img/placeholder.png"
                     alt="" style="width: 150px; height: 150px" class="float-left">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title {% cycle 'text-danger' ' text-success' %}">{{ news_item.title }}</h5>
                {% autoescape off %}
                    <p class="card-text">{{ news_item.content }}</p>
                {% endautoescape %}
            </div>

        </div>
        <div class="card-footer text-muted">
            {{ news_item.created_at|date:"Y-m-d H:i" }}
        </div>
    </div>


{% endblock %}

