.lol {
  color: #91a3ff;
  /* #07cdff */
}

.lol {
  color: #11dd85;
}

.lol {
  color: #e8ad72;
}

.background {
  color : #333333
}

.lol {
  color: #10789a;
  color: #ff81ca;
}
  
.interting_color {
    color: #009d6b;
    color: #e8ad72;
}