{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Новости со всего мира {% endblock %}</title>
    <!-- CSS only -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>


{% include 'inc/_nav.html' %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}SIDEBAR {% endblock %}
        </div>
        <div class="col-md-9">


            {% if messages %}
                {% for message in messages %}
                    {% if message.tags ==  'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}


            {% block content %}CONTENT {% endblock %}

            {% if page_obj.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.previous_page_number }}"><</a></li>
                        {% endif %}

                        {% for p in page_obj.paginator.page_range %}
                            {% if page_obj.number == p %}
                                <li class="page-item active" aria-current="page"><a class="page-link"
                                                                                    href="?page={{ p }}">{{ p }}</a>
                                </li>
                            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:+3 %}
                                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">></a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</div>


<!-- JavaScript Bundle with Popper -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}">
</script>
</body>
</html>

